
<div class="row">
<jce-user-form (userAddedEvent) = "addUser($event)">Loading Form...</jce-user-form>
<jce-spinner [visible]="isLoading"></jce-spinner>
  <h1>User List</h1>
  <ul class="list-group users">
    <li *ngFor = "let user of users" 
        [class.active]="currentUser == user" 
        (click) = "select(user)"
        class="list-group-item">
        <jce-user 
        [user] = "user"
        (deleteEvent) = "deleteUser($event)"
        (editEvent) = "updateUser($event)"
        ></jce-user>

        <!-- DeleteEvent is an internal event. When this is started, the $event var holds the user
        why?
        user.component.ts -> this.deleteEvent.emit(this.user);
         -->
         <h5>Posts:</h5>
        <ul>
          <li *ngFor ="let userPost of user.postTitles">
            {{(userPost | async)?.title}}
          </li>
        </ul>
    </li>
  </ul>
</div>