
<form (ngSubmit) = "checkInput(formData)" #formData="ngForm">
  <legend>Add Invoice</legend>

  <div class="form-group">
    <label for="pname">Product Name</label>
    <input type="text" class="form-control" name="pname" id="pname" placeholder="add product name..." [(ngModel)] = "invoice.pname">
    <span *ngIf="noProduct">Please add a product name</span>
  </div>

  <div class="form-group">
    <label for="amount">Amount</label>
    <input type="text" class="form-control" name="amount" id="amount" placeholder="What is the amount?" [(ngModel)] = "invoice.amount">
    <span *ngIf="noAmount">Please add the amount</span>
  </div>

  <button type="submit" class="btn btn-primary">Save Invoice</button>
</form>
