<h1>
  {{title}} <small>Jonathan Dror</small>
</h1>

<div class="navbar navbar-default">
  <a class="navbar-brand" routerLink="/" routerLinkActive="active">Invoices System</a>
  <ul class="nav navbar-nav">
    <li>
      <a routerLink="/invoices" routerLinkActive="active">Invoices</a>
    </li>
    <li>
      <a routerLink="/invoiceForm" routerLinkActive="active">Invoice Form</a>
    </li>
  </ul>
</div>



<router-outlet></router-outlet>
