<div class="row">
    <h2> List of Invoices </h2>
    <jce-spinner [visible]="isLoading"></jce-spinner>
    <ul class="list-group">
      <li *ngFor = "let invoice of invoices" 
            [class.active]="currentInvoice == invoice" 
            (click) = "select(invoice)"class="list-group-item">
      <h3>Product Name: {{invoice.pname}} <small>Amount: {{invoice.amount}}</small></h3>
      </li>
    </ul>
</div>

