<span *ngIf = "!isEdit">Name: {{user.name}} ({{user.email}})</span>
<span *ngIf = "isEdit">
Name: <input type="text" [(ngModel)] = "user.name">
Email: <input type="email" [(ngModel)] = "user.email">
</span>
<button (click) = "sendDelete()" type="button" class="btn btn-link pull-right"><i class="fa fa-trash" aria-hidden="true"></i></button>
<button (click) = "toggleEdit()" type="button" class="btn btn-info btn-sm pull-right">{{editButtonText}}</button>

